<h2>Programming Books List!</h2>
<button (click)="isShowing = !isShowing">
  <ng-container *ngIf="!isShowing">Show Book</ng-container>
  <ng-container *ngIf="isShowing">Hide Book</ng-container>
</button>

<ul *ngIf="isShowing" >
  <ng-container  *ngFor="let book of books; let i = index">
    <li class="book">
      <p>{{ i + 1 }}</p>
      <img [src]="book.image" [alt]="book.name" width="100px" />
      <p>
        {{ book.name | uppercase }} by
        {{ book.author }}
      </p>
      <p>{{ book.amount | currency: "BDT" }}</p>
    </li>
    
  </ng-container>
</ul>
